body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;

  width: 1440px;

  /* background-color: #fff;
  background-image: url(./img/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat; */
}

a {
  text-decoration: none;
}

.visually-hidden,
.display-none {
  display: none; 
}

.main-header {
  background-color: #eeeeee;
  padding: 0 140px;
}

.main-navigation {
  font-weight: 500;
  display: flex;
  text-transform: uppercase;
  padding-top: 48px;
}

.main-navigation a{
  color: #000;
}

.main-navigation ul {
  display: inherit;
  list-style: none;
}

.navigation-user {
  margin: auto;
  margin-left: auto;
}

.navigation-site {
  margin: auto;
}

.navigation-site a {
  padding: 16px 24px;
}
/* main */
.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.slider {
  background-color: #eeeeee;
  height: 413px;
}

.slider ul {
  list-style: none;
  padding: 0;
}

.slider li {
  display: flex;
}

.slider-img {
  background-image: url("../img/slide1.png");
  width: 698px;
  height: 413px;
  background-position: top left;
  background-repeat: no-repeat;
}

.tagline {
  width: 380px;
  /* margin-left: 140; */
}

.tagline-description {
  display: flex;
  flex-direction: column;
  /* width: 535px; */
}

.tagline-description p {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-top: 72px;
  margin-bottom: 28px;
}

.tagline-description span {
  margin-bottom: 28px;
  line-height: 24px;
  color:#283136;
}

.button {
  text-transform: uppercase;
  color: #fff;
  display: block;
  background-color: #FB565A;
  text-align: center;
  padding-top: 15px;
  border: none;
  border-radius: 3px;
}

.tagline-description a {
  width: 240px;
  height: 35px;
}

.advantages-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
}

.advantages-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  /* order: 0; */
}

.advantages-item img {
  order: -1;
}

.advantages-item .button {
  width: 160px;
  padding-bottom: 19px;
}

.advantages-item:nth-child(2) .button {
  background-color: #00CA74;
}

.advantages-item:nth-child(3) .button {
  background-color: #EFC84A;
}

.about-columns,
.partners-list {
  display: flex;
  justify-content: space-between;
}

.about-thesis p {
  font-size: 45px;
  font-weight: 500;
}

.thesis-list span,
.about-numbers p {
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-top: 41px;
}

.thesis-list ul {
  padding: 0;
  padding-left: 30px;
}

.thesis-list li {
  list-style: none;
  position: relative;
  margin-top: 20px;
}

.thesis-list li::before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 8px;
  left: -20px;
}

.about-numbers {
  text-align: center;
}

.about-numbers ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.numbers-list p {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.numbers-list sup {
  font-size: 26px;
  font-weight: 700;
}

.about-partners ul {
  list-style: none;
}

.contacts {
  position: relative;
}

.contacts-description {
  position: absolute;
  box-sizing: border-box;
  top: 50px;
  left: 140px;
  width: 308px;
  height: 319px;
  background-color: #fff;
  border-radius: 3px;
  padding: 40px 50px;
}

.contacts-description h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.contacts-description span {
  display: block;
  margin-bottom: 20px;
}

.contacts-description button {
  margin-top: 38px;
  width: 219px;
  padding-bottom: 19px;
}

.main-footer {
  display: flex;
  margin-top: 67px;
  margin-bottom: 68px;
}

.social-list {
  display: flex;
  list-style: none;
  padding: 0;
  min-width: 400px;
}

.social-link {
  display: flex;
  width: 81px;
  height: 81px;
  background-color: #E1E1E1;
  margin-right: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.promotion p {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}

/* catalog.html */

.catalog-header {
  background-color: #eeeeee;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
}

.catalog-wrapper {
  display: flex;
  margin-top: 35px;
}

.filter-form fieldset {
  border: none;
  width: 200px;
  padding: 0;
}

.filter-label {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.filter-item {
  line-height: 39px;
  position: relative;
}

.filter-item input[type="radio"]::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border: 5px solid #4D4D4D;
  opacity: 0.4;
  position: absolute;
  left: -15px;
  top: 6px;
  border-radius: 50%;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.templates-item {
  margin-bottom: 15px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
}

.feedback {
  width: 870px;
  height: 487px;
  box-shadow: 5px 5px 15px #000;
  padding: 20px 50px;
}

.feedback h2 {
  font-size: 45px;
  font-weight: 500;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form label {
  display: block;
  font-weight: 700;
}

.feedback-form input {
  padding: 10px;
  padding-bottom: 20px;
  width: 350px;
}

.feedback-form input[name="message"] {
  width: 800px;
}